<h2>Confirm Sign Up!</h2>

<div class="row">
  <div class="col-md-4">
    <h4>Are these the credentials you requested?</h4>
    <h5>Email: <%= @user.email %></h5>
    <h5>Name: <%= @user.name %></h5>
  </div>
</div>

<div class="row">
  <div class="col-md-4 pull-left">
    <%= button_to "Yes", {controller: "users", action: "create", params: params.permit!}, class: 'btn btn-success' %>
  </div>
  <div class="col-md-4 pull-left">
    <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-warning', :method => :get %>
  </div>
</div>
