<h1>About</h1>
<p>ProduceIt is a platform for music producers to post topics about music production in any capacity.  Feel free to share anything that has to do with music production!</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3BOQf0lXve8RDB1C_1uaT9D73ljJNz_RpXOmHRDug_MT_K5mV"> </img> 
