<div class="jumbotron">
  <h1>ProduceIt</h1>
  <p>ProducIt is a resource for music producers to share information!</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Arrangement</h2>
    <p>Share tips and tricks for arranging the perfect song</p>
  </div>
  <div class="col-md-4">
    <h2>Mixing</h2>
    <p>Let others know what EQ, Compressor, and Leveling techniques you use.</p>
    <img src=""></img>
  </div>
  <div class="col-md-4">
    <h2>Mastering</h2>
    <p>Find out how to get your track to sound like the pros.</p>
  </div>
</div>
